<div>
    {{!-- <ul>
        <li class="tooltip-js" data-title-position="left" title="Ask HR"><i class="PI_askhr"></i></li>
        <li class="tooltip-js" data-title-position="left" title="Referral"><i class="PI_referal"></i></li>
        <li class="tooltip-js" data-title-position="left" title="Subscription"><i class="PI_subscription"></i></li>
    </ul> --}}
    {{!-- <img src="../../images/cmn/quick.png" alt=""> --}}
    <h4 style="text-align: center; line-height:20px">
      <p>
          M
        <br>
        O
        <br>
        D
        <br>
        U
        <br>
        L
        <br>
        E
      </p>
        <p style="margin-top: 8px">
        <br>
            B
        <br>
        A
        <br>
        S
        <br>
        E
        <br>
        D
        </p>
        <p style="margin-top: 8px">
        <br>
        I
        <br>
        C
        <br>
        O
        <br>
        N
        </p>
    </h4>
</div>

<div>
    {{!-- <ul>
        <li class="tooltip-js" data-title-position="left" title="Notes"><i class="PI_notes1"></i></li>
        <li class="tooltip-js" data-title-position="left" title="Help"><i class="PI_help1"></i></li>
        <li class="tooltip-js" data-title-position="left" title="Night Mode">
            <i class="PI_thememod"><i class="path1"></i><i class="path2"></i><i class="path3"></i><i class="path4"></i><i class="path5"></i><i class="path6"></i><i class="path7"></i></i>
        </li>
    </ul> --}}
    <img src="../../images/cmn/quick.png" alt="">
</div>